@font-face {
    font-family: "brandon";
    src: url("/fonts/BrandonGrotesque/BrandonGrotesque-Bold.woff"), format("woff");
}
.navbar, header .container, .social-link-container{
    display: flex; 
}
header{
    background-color: var(--third-black); 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6;
    font-family: "Brandon Grotesque";
}
.mobile-nav-container{
    display: none;
}
header .container{
    justify-content: space-between;  
    align-items: center;
    position: relative; 
    height: 140px; 
    min-height: 15vh; 
} 
.logo-container{
    top: 13%; 
    left: 47%;
    position: absolute;
    cursor: pointer;  
}    
.mobile-nav-btn{
    display: none; 
    cursor: pointer;
}
.nav-link{
margin-right: 2rem;  
font-weight: 300;
font-size: 18px; 
transition: color 0.2s ease-in-out; 
cursor: pointer;
color: var(--fifth-white);   
} 
.nav-link:hover{
    color: var(--main-green);
} 
.social-link{ 
    cursor: pointer;
    margin-right: 2rem;
} 
.opacity-on{
    background-color: rgba(0,0,0,0) !important;
    transition: background-color 0.5s ease-in-out;
} 
.opacity-full-on{
    opacity: 0 !important; 
    transition: opacity 0.5s ease-in-out;
}
.opacity-off{
    transition: background-color 0.5s ease-in-out;
    background-color: rgba(0,0,0,1) !important;
}   
.opacity-full-off{
    opacity: 1 !important; 
    transition: opacity 0.5s ease-in-out;
}

@media only screen and (max-width: 988px) { 
    .logo-container{
        left:40%; 
        top: 25%;
    } 
    .logo-container a img{
        width: 87px;
    }
    .nav-link, .social-link{
        margin-right: 1.2rem;  
    } 

}
 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    header .container{
    height: 50px;
    min-height: 11vh; 
    }
    .logo-container a img{
        width: 57px;
    }
    .nav-link{
    margin-right: 1.2rem;  
    }
    .navbar,.social-link, .header .btn{
    left: 150%;
    position: absolute;
    z-index: 8;
    }  
    .mobile-nav-container{
    display: block;  
    position: absolute;   
    z-index: -1; 
    top: 0%; 
    width: 100%; 
    height: 100vh;  
    /* opacity: 0; */
    background-color: var(--third-black); 
    color: var(--fifth-white);  
    }  

    .mb-nav-wrapper{
        margin-top: 8rem;
        display: flex; 
        flex-direction: column;
        align-items: center; 
        
        /* justify-content: center;  */
        height: 100%;
        /* background-color: red; */
    } 
    .mb-social-links{
        display: flex; 
        margin-top: 2rem;  
        

    }
    .mb-social-links img{
        width: 30px; 
    }
    .mb-navbar{
        
        font-size: 48px;
        /* margin-top: 8rem; */
    } 

    .mb-navbar li{
        text-align: center;
        margin-bottom: 1.2rem;
    } 



    .mobile-nav-btn{
        display: block;
    }
    .logo-container{
        left: 0; 
        top: 25%;
        width: 87px;
    }
    .bar1, .bar3 {
        width: 45px;
        height: 1px;
        background-color: var(--fifth-white);
        margin: 12px 0;
        transition: 0.2s;
      }
      .change .bar1 {
        -webkit-transform: rotate(180deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(1px, 6px);
      }
      .change .bar3 {
        -webkit-transform: rotate(-180deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(2px, -8px); 
      }

}

/* Phone Screen */

/* @media only screen and (max-width: 600px) {

} */