@font-face {
    font-family: "Dex";
    src: url(/fonts/Dex_Gothic_Becker_Solid_Regular/Dex\ Gothic_Becker_Solid_Regular.ttf);
}
@font-face {
    font-family: "brandon";
    src: url("/fonts/BrandonGrotesque/BrandonGrotesque-Regular.ttf");
}

/* universal styles */

body{
    background-color: black;
}

.animate{
    animation-duration: 0.5s; 
    animation-name: fade-and-slide;
} 
.animate-out{
    animation-duration: 0.4s;
    animation-name: fade-and-slide-out;
}


/* Scroll in animation element selectors */
h1, 
h2,  
h3,
p, 
.center-piece-btn, 
.menu-btn,
.tagline-btn,
.footer-book-btn,
.footer-logo,
.footer-social-container, 
.footer-line, 
.img-item{
 transition: 0.8s;
 transform:translateY(20px) ;
 opacity: 0;
} 

h1[data-scroll="in"],
 h2[data-scroll="in"], 
 h3[data-scroll="in"], 
 p[data-scroll="in"],
 a[data-scroll="in"],
 .footer-logo[data-scroll="in"],
 .footer-book-btn[data-scroll="in"], 
 .footer-line[data-scroll="in"],
 .footer-social-container[data-scroll="in"],
 .menu-btn[data-scroll="in"],
 .img-item[data-scroll="in"],
 .center-piece-btn[data-scroll="in"],
 .tagline-btn[data-scroll="in"]{
    transform: translateY(0);
    transition-delay: 0.2s; 
    opacity: 1;
}
/* Scroll in animation element selectors end */



@keyframes fade-and-slide {
    from {
        transform: translateY(35px);
        opacity: 0
    } 
    top{
        transform: translateY(0px); 
        opacity: 1;
    }
}
@keyframes fade-and-slide-out {
    from {
        transform: translateY(-35px);
        opacity: 1;
    } 
    top{
        transform: translateY(0px); 
        opacity: 0;
    }
}

.btn{
    padding: 0.65rem 2rem; 
    transition: color 0.2s ease-in-out; 
    font-weight: normal;
    cursor: pointer;
    font-size: 15px; 
    font-family: "brandon";
}  
.btn:hover{
    color: white; 
} 


.btn-green{
    background-color: var(--main-green); 
    color: var(--third-black);
}  
.btn-black {
    background-color: var(--third-black); 
    color: var(--fifth-white); 
}
.btn-tan {
    background-color: var(--third-black); 
    color: var(--sixth-tan); 
}

.container{
    width: 1196px;
    max-width: 85%; 
    margin: 0 auto; 
} 

.d-none{
    visibility: hidden ;
} 

/* centerpiece */ 
.center-piece{
    width: 100%; 
    text-align: center; 
    height: 100vh;  
    position: relative;
    background-color: var(--fourth-blue); 
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat;   
} 

.center-piece-home{
    background-image: url(/imgs/backgrounds/Bg-image.jpg); 
} 
.center-piece-contact{
    background-image: url(/imgs/backgrounds/Bg-image-contact.jpg); 
}
.center-piece .container{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    height: 100%;
}

.center-piece-text{
    font-size: 32px;
    width: 100%; 
    font-family: "Dex";
    letter-spacing: 2px;
    color: var(--fifth-white);  
} 
.center-piece-btn{
    margin-top: 4.5rem;
} 

.center-piece-btn a{
    font-size: 23px; 
    padding: 15px 45px;
} 


/*  tagline and contact */ 

.tagline-wrapper{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}


.tagline-wrapper .tagline-btn{
    margin: 3rem 0;
}
.sub-title, .sub-text{
    text-align: center;
}  

.dark-bg .sub-title, .dark-bg .sub-text{
    color: var(--fifth-white);
} 

.contact-form-input-wrapper{
    margin: 1.5rem 0;
}

.input-wrapper{
    margin: 0 0 1.5rem 0;
}

.input-wrapper label{
    font-weight: bold;
}

.input-wrapper input.sub-text, textarea{
    width: 100%;  
    font-size: 16px;
    padding: 0 0.5rem;
    background-color: white;
}
.input-wrapper input.sub-text{
    height: 33px; 
}


.sub-title{
    margin: 3rem 0;
    letter-spacing: 2px;
    font-family: 'Dex'; 
    font-size: 28px; 

}
.sub-text{ 
    margin: 0 auto;
    max-width: 740px;
    font-family: "brandon";
    font-size: 20px;
    letter-spacing: 1px; 
    word-spacing: 0px;
    line-height: 28 px;
} 

.contact-wrapper .sub-title{
    margin: 3rem 0 0.25rem 0;
}
.contact-wrapper .contact-card{
    margin: 3rem 0;
}
.tel-link{
    color: var(--main-green); 
    cursor: pointer; 
    text-decoration: underline;
}
.tagline-line{
    background-color: var(--main-green); 
    width: 100%; 
    height: 2px; 
    margin-bottom: 2rem;
}
.img-item{
    cursor: pointer;
}

/* Banner */ 
.banner{
    position: relative; 
} 
.banner-wrapper{
    margin-top: 5rem;
    background-image: url(/imgs/backgrounds/tools-embellished.jpg); 
    background-size: cover; 
    background-position: center; 
    height: 310px;
}

 .dark-bg .closed-text{
    color: var(--sixth-tan); 
    text-decoration: line-through;
}

.the-menu,.contact-section{
    padding: 5rem 0;
    background-color: var(--sixth-tan);
} 
.the-menu .container{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}


.the-menu .menu-card-wrapper{
    margin-top: 5rem;
    display: grid; 
    grid-template-columns: 1fr;
}
.tel-blue{
    color: var(--fourth-blue);
}

.the-menu .sub-title,.the-menu .sub-text{
    margin-top: 3.5rem;
    color: var(--third-black);  
}

.the-menu .sub-title, .the-menu .sub-text{
    margin: 0;
} 
.the-menu .menu-card{
    margin-bottom: 4rem; 
    font-family: "brandon"; 
} 
.card-text, .card-title{
    text-align: center;     
} 
.card-title{
    font-size: 26px;
    font-weight: bold;
}
.card-text{
    margin-top: 8px;
    font-size: 23px;
}
.card-content{
    text-align: center; 
    font-size: 17px;
    color: var(--seventh-tan);
}

.menu-btn a{
    font-size: 23px; 
    padding: 15px 45px;
} 

/* Village */ 
.village{
    padding: 5rem 0;
    background-color: var(--fourth-blue);
}
.village .sub-title{
    margin: 0;
}

.village img{
    width: 100%;
}

.village .img-container{
    margin-top: 5rem;
    display:  grid;  
}


/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    background-color: var(--fourth-blue);
    width: 100%;
    /* The width is the width of the web page */
  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
    .center-piece-text{
        width: 80%;
        font-size: 40px;
    } 

    .sub-text{ 
        font-size: 24px;
    } 
    .contact-wrapper{ 

        display: flex; 
        justify-content: space-between;
    }
    .contact-wrapper a{
        cursor: pointer;
    }
    .contact-wrapper .sub-text{
        font-size: 1.3rem;
    }
    .contact-wrapper .contact-card{
        margin: 0; 
    } 
    .the-menu .menu-card-wrapper{
        grid-template-columns: 1fr 1fr;
    }
    .village .img-container{
        margin-top: 5rem;
        display:  grid; 
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (min-width: 988px) { 
    .center-piece-text{ 
        margin-top: 9rem;
        max-width: 700px;
        font-size: 52px;
    }
    .sub-title{
        margin: 6.5rem 0 2rem 0;
        font-size: 38px;
    }
    .sub-text{ 
        font-size: 28px;
        letter-spacing: 2px; 
        word-spacing: 3px;
        line-height: 40px;
    }
    .contact-wrapper .card{
        margin: 0;
    } 
    .the-menu .menu-card-wrapper{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card-title{
        font-size: 24px;
    }
    .card-text{
        font-size: 21px;
    }
    .card-content{
        font-size: 15px;
    }
    .village .img-container{
        margin-top: 5rem;
        display:  grid; 
        grid-template-columns: 1fr 1fr 1fr;
    }
}
 

